@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter-Regular;
  src: url('./assets/fonts/inter/Inter-Regular.ttf') format('truetype');

  font-family: Inter-Medium;
  src: url('./assets/fonts/inter/Inter-Medium.ttf') format('truetype');
  font-family: Inter-SemiBold;
  src: url('./assets/fonts/inter/Inter-SemiBold.ttf') format('truetype');
  font-family: Inter-Bold;
  src: url('./assets/fonts/inter/Inter-Bold.ttf') format('truetype');
}

.section-subtitle {
  @apply font-subtitle text-xl lg:text-2xl mb-[5px];
}

.theme-btn {
  @apply bg-primary p-3 rounded-full;
}

body {
  font-family: 'Inter-Regular', sans-serif;
  background-color: #000000;
  color: white;
}

.circularText {
  animation: rotateText 10s linear infinite;
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.circularText span {
  position: absolute;
  padding: -15px;
  left: 50%;
  font-size: 1.2rem;
  font-weight: 600;
  transform-origin: 0 110px;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
